*~
#*#
docs/*~
docs/#*#
src/*~
src/#*#
bin/*~
util/*~
util/#*#
data/*~
data/#*#
src/DragDetector/.vs/*
src/DragDetector/DragDetector/bin/*
src/test_mod/.vs/*
src/test_mod/test_mod/bin/*
src/test_mod2/.vs/*
src/test_mod2/test_mod/bin/*
